{% extends 'base.html.twig' %}


{% block body %}
    <div id="container">
        <div class="row">
            <div class="col-lg-2 menu">
                <h6>Galeries de nos membres :</h6>
                <ul class="vertical">
                {% for user in users %}
                    <li><a href="{{path('showGalery', {'idUser':user.id})}}">{{ user.username }}</a></li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-lg-10">
                {% if error != "" %}
                    <h6 class="red">{{error}}</h6>
                {% endif %}
                <h2>Votre Galerie :</h2>
                <div class="container">
                    <div class="row">
                        <form action="{{path('createPicture', {'idUser':id})}}" method="post">
                            <input id="checkBox" type="checkbox" name="checked[]">
                            <label for="checkBox">Ajouter une image importé</label>
                            <input type="text" id="url" name="url" placeholder="Entrez un url">
                            <input type="file" id="file" name="image" accept=".jpg, .jpeg, .png">
                            <input type="text" class="little" id="pos" name="pos" placeholder="pos">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="submit" id="ajout" name="ajout" value="Ajouter">
                        </form>


                    </div>
                    <hr>
                    </br>

                    <form action="{{path('updatePictures', {'id':id})}}" method="post">             
                        <div class="row"> 
                            {% for obj in photos %}
                                <div class="col-3">
                                    <div class="row"> 
                                        <div class="col-10">
                                            <input type="hidden" value="{{obj.id}}" name="id-{{obj.id}}">
                                            <img src="{{asset(obj.url)}}" name="image-{{obj.id}}" alt="Not Available :(" height="150" width="150">
                                        </div>
                                        <div class="col-5">
                                            <!--<input type="text" class="little" name="pos" value="{{photos[loop.index0].pos}}">-->
                                            <select class="little" name="select-{{loop.index}}">
                                                <option></option>
                                                {% for i in range(1, 12) %}
                                                    {% if photos[loop.parent.loop.index0].pos != i %}
                                                        <option>{{i}}</option>
                                                    {% else %}
                                                        <option selected>{{i}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-5">
                                            <a class="del" href="{{ path('deletePicture', {'id':photos[loop.index0].id, 'idUser':id}) }}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            


                            

                        </div>
                        <input type="submit" id="update" name="ajout" class="btn btn-primary" value="Valider">
                    </form>
                            <!--<div id="dialog-confirm" title="Empty the recycle bin?">
                                <p>
                                    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                                        Are you sure?
                                </p>
                            </div>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    #update{
        float: right;
        position: relative;
        margin-top: 35px;
        height: 50px;
    }

    h6.red{
        color: red;
        font-size: 15px;
        float: center;
        margin-right: 18px;
    }

    .little{
        width: 60px;    
    }

    #url{
        width: 75vw;
    }

    label{
        width: 250px;
    }

    hr{
        margin-top: 35px;
        border-top: 6px solid black;
    }

    .glyphicon-trash{
        color: black;
        margin-left: 3px;
        padding: 8px;
    }

    .menu{
        background-color: #DCDCDC;
        height : 100vh;
    }

    table{
        border-collapse: collapse;
    }

    td{
        border: 1px solid black;
    }

    h6{
        font-size: 18px;
    }

    </style>
{% endblock %}
